/* Importe a fonte do seu Figma (opcional) */
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

body {
  margin: 0;
  padding: 0;
  /* Defina a fonte base aqui */
  font-family: Arial, sans-serif;
  background-image: url("assets/fundo_madeira.png");
  background-size: cover;
}

.livro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.campo {
  /* Estilos para os campos de entrada */
  margin-bottom: .05em;
  position: absolute;
  min-width: 300px;
}

.campo label {
  /* Estilos para os labels */
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.campo input {
  /* Estilos para os campos de input */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

.campo input:focus {
  outline: none;
  border-color: #999;
}

/* Estilos para o botão de submit (opcional) */
.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1em;
  position: absolute;
  top: 70%
}

.button:hover {
  background-color: #0067cc;
}

.livro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.titulo {
  position: absolute;
  left: 38%;
  top: 18%;
  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  z-index: 1;
  color: #FFFFFF;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.campo #campo {
  color: rgb(255, 255, 255);
  margin: 0.5em;
}

.lista {
  display: flex;
  padding: 0.8em;
  
}