@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("assets/fundo_madeira.png");
  background-size: cover;
}

.livro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.titulo {
  position: absolute;
  width: 360px;
  height: 42px;
  left: 725px;
  top: 335px;
  
  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  z-index: 1;
  
  color: #FFFFFF;
}

.botao {
  color: white;
  font-size: 25px;
  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  z-index: 1;
  text-align: center; /* Centraliza o texto dentro do botão */
  margin: 0px 70px; /* Adiciona margem para espaçar os botões */
  margin-top: 400px;
  text-decoration: none;
}



